.districtData {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
}

.districtName {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
  margin-left: 10px;
}
.flexProps {
  display: flex;
  align-items: center;
  margin-right: 100px;
  padding: 0px;
  width: 200px;
}
