.chartHeading {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #cbd5e1;
  margin-bottom: 42px;
}
.displayProps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.chartProps {
  border-radius: 5px;
  margin-bottom: 32px;
  margin-left: 150px;
  padding: 20px;
}
.red {
  color: #ff073a;
}
.green {
  color: #28a745;
}
.blue {
  color: #007bff;
}
.grey {
  color: #6c757d;
}
.purple {
  color: #9673b9;
}
.confirmed {
  background: #331427;
}

.active {
  background: #132240;
}

.recovered {
  background: #182829;
}

.deceased {
  background: #212230;
}
.tested {
  background: #230f41;
}
